<div data-ng-controller="StartController"> 
    <br />
    <br />
    <a class="btn btn-primary" ui-sref="recruiter.createJobAd"> <span class="glyphicon glyphicon-plus"></span> Post Job Ad</a>
    <br /> 
    <br /> 
    <div class="row">
        <div class="col-sm-9">
            <div class="jumbotron">
                <h1>Welcome to Jobmix where recruiters and job seekers meet!</h1>               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>1-5 Job Ads</h2></div>
                <div class="panel-body">
                    <div><h3><strong>R800/per job ad</strong></h3></div>
                    <div>30 days job listing</div>
                    <div>
                        <a class="btn btn-primary" ui-sref="jobs.master">Create Order</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>6-10 Job Ads</h2></div>
                <div class="panel-body">
                    <div><h3><strong>R750/per job ad</strong></h3></div>
                    <div>30 days job listing</div>
                    <div>
                        <a class="btn btn-primary" ui-sref="jobs.master">Create Order</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>10+ Job Ads</h2></div>
                <div class="panel-body">
                    <div><h3><strong>R700/per job ad</strong></h3></div>
                    <div>30 days job listing</div>
                    <div>
                        <a class="btn btn-primary" ui-sref="jobs.master">Create Order</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>CV Search</h2></div>
                <div class="panel-body">
                    <div><strong>R1 000/ month</strong></div>
                    <div>
                        <a class="btn btn-primary" ui-sref="jobs.master">Create Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
