<div class="container" data-ng-controller="AdvertisingController"> 
    <div class="col-sm-8">
        <br />
        <br />
        <a class="btn btn-primary" ui-sref="howitworks"> <span class="glyphicon glyphicon-info-sign"></span> How It Works</a>
        <a  class="btn btn-primary" ui-sref="recruiter.createJobAd"> <span class="glyphicon glyphicon-plus"></span> Post Job Ad</a>
        <br />
        <br /> 
        <div class="panel panel-primary">
            <div class="panel-heading"><h2>Job Advertising Prices</h2></div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><b>1 Job Ad</b></td>
                            <td><b>R650/per job Ad</b></td>
                            <td><b>30 days job listing</b></td>
                        </tr>
                        <tr>
                            <td><b>2-5 Job Ads</b></td>
                            <td><b>R600/per job Ad</b></td>
                            <td><b>30 days job listing</b></td>
                        </tr>
                        <tr>
                            <td><b>6+ Job Ads</b></td>
                            <td><b>R550/per job Ad</b></td>
                            <td><b>30 days job listing</b></td>
                        </tr>
                    </tbody>               
                </table>
            </div>
        </div>
    </div>   
</div>
