<div class="container" data-ng-controller="JobApplicationsController">
    <h1>Job Applications</h1>  
    <hr />
    <form name="jobApplicationsForm">
        <h2>Search for Job Applications</h2>
        <div class="row">
            <div class="form-group col-sm-2">
                <label for="searchOption" class="control-label">Search By</label>
                <select class="form-control" name="searchOption" data-ng-model="searchBy"
                        data-ng-options="searchOption for searchOption in searchByOptions" ng-change="clearApplications()"></select>
            </div>
            <div class="form-group col-sm-1" ng-hide="searchBy==='Date'||searchBy==='Date Range'||searchBy==='JobID'||searchBy==='JobREF'||searchBy==='Job Title'">
                <div style="margin-top:25px">
                    <button type="button" class="btn btn-primary" ng-click="searchJobApplications()"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="searchBy==='JobID'||searchBy==='JobREF'||searchBy==='Job Title'">
            <div class="form-group col-sm-3" ng-class="{'has-error':jobApplicationsForm.searchTerm.$touched && jobApplicationsForm.searchTerm.$invalid}">
                <label for="searchTerm" class="control-label">Enter {{searchBy}}</label>
                <input type="text"
                       class="form-control"
                       name="searchTerm"
                       data-ng-model="searchTerm"
                       placeholder="Enter Search Term"
                       ng-minlength="1"
                       ng-maxlength="50"
                       ng-required="true"
                       ng-trim />
                <div class="help-block" ng-messages="jobApplicationsForm.searchTerm.$error" ng-if="jobApplicationsForm.searchTerm.$touched" role="alert" ng-messages-multiple>
                    <div ng-message="required">Please enter search term</div>
                    <div ng-message-exp="['minlength','maxlength']">Search term must be between 1 and 50 characters long</div>
                </div>
            </div>
            <div class="form-group col-sm-1">
                <div style="margin-top:25px">
                    <button type="button" class="btn btn-primary" ng-click="searchJobApplications()"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="searchBy==='Date'">
            <div class="form-group col-sm-2" ng-class="{'has-error':jobApplicationsForm.date.$touched && jobApplicationsForm.date.$invalid}">
                <label for="date" class="control-label">Date</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                           name="date"
                           datepicker-append-to-body="true"
                           uib-datepicker-popup="dd-MM-yyyy"
                           ng-model="date"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Close"
                           is-open="datePickerOpened"
                           ng-focus="datePickerOpened=true" />
                    <span class="input-group-btn">
                        <button type="button" class="btnCustom btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="help-block" ng-messages="jobApplicationsForm.date.$error" ng-if="jobApplicationsForm.date.$touched" role="alert">
                    <div ng-message="required">Please select date</div>
                </div>
            </div>
            <div class="form-group col-sm-1">
                <div style="margin-top:25px">
                    <button type="button" class="btn btn-primary" ng-click="searchJobApplications()"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="searchBy==='Date Range'">
            <div class="form-group col-sm-2" ng-class="{'has-error':jobApplicationsForm.fromDate.$touched && jobApplicationsForm.fromDate.$invalid}">
                <label for="fromDate" class="control-label">Date From</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                           name="fromDate"
                           datepicker-append-to-body="true"
                           uib-datepicker-popup="dd-MM-yyyy"
                           ng-model="dateFrom"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Close"
                           is-open="fromDatePickerOpened"
                           ng-focus="fromDatePickerOpened=true" />
                    <span class="input-group-btn">
                        <button type="button" class="btnCustom btn-default" ng-click="openFromDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="help-block" ng-messages="jobApplicationsForm.fromDate.$error" ng-if="jobApplicationsForm.fromDate.$touched" role="alert">
                    <div ng-message="required">Please enter start date</div>
                </div>
            </div>
            <div class="form-group col-sm-2" ng-class="{'has-error':jobApplicationsForm.toDate.$touched && jobApplicationsForm.toDate.$invalid}">
                <label for="toDate" class="control-label">Date To</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                           name="toDate"
                           datepicker-append-to-body="true"
                           uib-datepicker-popup="dd-MM-yyyy"
                           ng-model="dateTo"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Close"
                           is-open="toDatePickerOpened"
                           ng-focus="toDatePickerOpened=true" />
                    <span class="input-group-btn">
                        <button type="button" class="btnCustom btn-default" ng-click="openToDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="help-block" ng-messages="jobApplicationsForm.toDate.$error" ng-if="jobApplicationsForm.toDate.$touched" role="alert">
                    <div ng-message="required">Please enter start date</div>
                </div>
            </div>
            <div class="form-group col-sm-1">
                <div style="margin-top:25px">
                    <button type="button" class="btn btn-primary" ng-click="searchJobApplications()"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span>Display</span>
                    </div>
                    <select class="form-control" name="viewOption" data-ng-model="jobApplicationsPerPage"
                            data-ng-options="viewPerPageOption for viewPerPageOption in viewPerPageOptions"></select>
                    <div class="input-group-addon">
                        <span>Per Page</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <dir-pagination-controls on-page-change="getPage(newPageNumber)" max-size="5"></dir-pagination-controls>
            </div>
        </div>
    </form>   
    <hr />
    <div class="media" dir-paginate = "application in jobApplications | itemsPerPage: jobApplicationsPerPage" total-items="totalJobApplications" current-page="pagination.current">
        <hr />
        <dl class="dl-horizontal">
            <dt style="text-align:left"><span class="glyphicon glyphicon-info-sign"></span> <strong>Job Title:</strong></dt>
            <dd><strong>{{application.jobTitle}}</strong></dd>
            <dt style="text-align:left"><span class="glyphicon glyphicon-info-sign"></span> <strong>Job REF:</strong></dt>
            <dd>{{application.jobAdREF}}</dd>
            <dt style="text-align:left"><span class="fa fa-user"></span> <strong>Applicant Name: </strong></dt>
            <dd>{{application.firstName}} {{application.middleName}} {{application.lastName}}</dd>
            <dt style="text-align:left"><span class="glyphicon glyphicon-calendar"></span> <strong>Date: </strong></dt>
            <dd>{{application.createdOn| date :  "fullDate"}}</dd>
        </dl>
        <button ng-click="viewApplication(application)" class="btn btn-primary"><span class="glyphicon glyphicon-new-window"></span> View Application</button>
        <button ng-click="deleteApplication(application)" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> Delete Application</button>
        <hr />                   
    </div>
</div>