<div class="container" data-ng-controller="OrderAddToController">
    <h1>Order# {{order._id}}</h1>
    <br />
    <button class="btn btn-primary" ng-click="back()"> <span class="glyphicon glyphicon-arrow-left"></span> Back</button>
    <hr />
        <button ng-if="mode" class="btn btn-primary" ng-click="createJobAdAddToExistingOrder()">Create job Ad & Add to this order</button>
        <button ng-if="mode" class="btn btn-primary" ng-click="createJobAdAddToNewOrder()">Create job Ad & Add to new order</button>
        <button ng-if="edit" class="btn btn-primary" ng-click="updateJobAdAddToExistingOrder()">Upadate job Ad {{jobAd.jobREF}} & Add to this order</button>
        <button ng-if="edit" class="btn btn-primary" ng-click="updateJobAdAddToNewOrder()">Update job Ad {{jobAd.jobREF}} & Add to new order</button>
        <button ng-show="mode === false && edit === false" class="btn btn-primary" ng-click="addExistingJobAdToExistingOrder()">Add job Ad {{jobAd.jobREF}} to this order</button>
        <button ng-show="mode === false && edit === false"  class="btn btn-primary" ng-click="addExistingJobAdToNewOrder()">Add job Ad {{jobAd.jobREF}} to new order</button> 
        <br />              
    <hr />
    <table class="table table-bordered" ng-show="order != null">
        <thead>
            <tr class="well">
                <td><b>JobAdID</b></td>
                <td><b>JobREF</b></td>
                <td><b>Job Title</b></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="jobAd in order.orderDetails">
                <td>{{ jobAd.jobAdID }}</td>
                <td>{{ jobAd.jobREF }}</td>
                <td>{{ jobAd.jobTitle }}</td>
            </tr>
        </tbody>     
    </table>
</div>