<div class="container" ng-controller="PreviewEditJobAdController">
    <div class="col-sm-10">
        <h1>Job Ad Edit Preview</h1>
        <button class="btn btn-primary" ng-click="back()"> <span class="glyphicon glyphicon-arrow-left"></span> Back</button>    
        <hr />
        <div class="media">
            <div class="pull-left">
                <img class="media-object" ng-src="{{jobAd.company.companyLogo||'images/companyLogo.jpg'}}" alt="Media Object" width="200" height="100"/>
            </div>
            <div class="media-body">
                <h3 class="media-heading"><strong>{{jobAd.jobTitle}}</strong><span class="pull-right">{{jobAd.jobLocationTown}} {{jobAd.jobLocationCountry}}</span></h3>
                <h4><strong>{{jobAd.companyName}}</strong><span class="pull-right">Closing Date:{{jobAd.closingDate| date :  "dd/MM/yyyy"}}</span></h4>
                <h4><strong>Job Ref:</strong> {{jobAd.jobREF}}</h4>
                <h4><strong>JobType:</strong>{{jobAd.jobType}}|<strong>JobLevel:</strong> {{jobAd.jobLevel}} Position</h4>
                <h4 ng-show="jobAd.employmentEquityPosition">Employment Equity Position</h4>
                <h4 ng-show="jobAd.selectedDisabilityOption=='Yes'">Position open to candidates with disabilities</h4>
                <h4 ng-show="jobAd.selectedDisabilityOption=='Only'">Position open to candidates with disabilities only</h4>
                <h4 ng-show="jobAd.selectedDisabilityOption=='No'">Position not open to candidates with disabilities</h4>
                <h4 ng-show="jobAd.renumerationMarketRelated==true&&jobAd.salaryNegotiable==false"><strong>{{jobAd.renumerationType}}</strong> Market Related</h4>
                <h4 ng-show="jobAd.renumerationMarketRelated==true&&jobAd.salaryNegotiable==true"><strong>{{jobAd.renumerationType}}</strong> Market Related Negotiable</h4>
                <h4 ng-show="jobAd.renumerationMarketRelated==false&&jobAd.salaryNegotiable==false"><strong>{{jobAd.salaryCurrency}}{{jobAd.minimumSalary}}-{{jobAd.maximumSalary}} {{jobAd.frequency}} {{jobAd.renumerationType}}</strong></h4>
                <h4 ng-show="jobAd.renumerationMarketRelated==false&&jobAd.salaryNegotiable==true"><strong>{{jobAd.salaryCurrency}}{{jobAd.minimumSalary}}-{{jobAd.maximumSalary}} {{jobAd.frequency}} {{jobAd.renumerationType}}</strong> Negotiable</h4>
                <h4><strong>Benefits:</strong> {{jobAd.renumerationBenefits}}</h4>                
                <h4><strong>Sector:</strong> {{jobAd.companySector}}</h4>
                <h4><strong>Posted by {{jobAd.companyName}}</strong></h4>
                <hr />
                <h3><strong>Introduction</strong></h3>
                <h4>{{jobAd.introduction}}</h4>
                <hr />
                <h3><strong>Job Description</strong></h3>
                <h4>{{jobAd.jobDescription}}</h4>
                <hr />
                <h3><strong>Job Requirements</strong></h3>
                <h4>{{jobAd.jobRequirements}}</h4>
                <hr />
                <h3><strong>How to apply</strong></h3>
                <h4 ng-if="jobAd.applyOnline">Apply Online</h4>
                <h4 ng-if="!jobAd.applyOnline">{{jobAd.howToApply}}</h4>
                <hr />
                <h4><strong>Apply before</strong> {{jobAd.closingDate| date :  "dd/MM/yyyy"}}</h4>
                <p><a class="btn btn-primary" ng-click="back()">Back</a>
                  <span class="pull-right">
                    <button ng-show="mode == false" class="btn btn-primary" ng-click="editJobAd()">Update</button>
                    <button ng-show="mode == false" class="btn btn-primary" ng-click="editJobAdAddToCart()">Update & Add to Cart</button>
                    <button class="btn btn-primary" ng-click="createJobAd()">Save</button>
                    <button ng-show="addQuestionnaire==true" class="btn btn-primary" ui-sref="recruiters.questionnairesMaster">Save & Add Questionnaire</button>
                    <button ng-show="mode == true" class="btn btn-primary" ng-click="createJobAdAddToCart()">Save & Add to Cart</button>
                  </span>
                </p>
            </div>

        </div>

    </div>
</div>