<div class="container" data-ng-controller="ProfileController" ng-init="getProfile()">
    <h1><strong>Profile</strong></h1>
    <a class="btn btn-primary" ui-sref="profile.personalCreate" ng-show="jobSeeker === null"> <span class="glyphicon glyphicon-plus"></span> Personal Details</a> 
    <div class="row">
        <div class="col-sm-2">
            <hr />
            <div style="text-align:center">
                <img width="90" height="90" alt="Photo" style="{background-color:black}" class="img-circle" ng-src="{{jobSeeker.photo||'images/user-avatar-placeholder.png'}}" />
            </div>         
            <hr />
        </div>
        <div class="col-sm-6">
            <hr />
            <dl class="dl-horizontal">
                <dt style="text-align:left"><span class="glyphicon glyphicon-user"></span> <strong>Full Name</strong></dt>
                <dd>{{jobSeeker.firstName}} {{jobSeeker.middleName}} {{jobSeeker.lastName}}</dd>
                <dt style="text-align:left"><span class="fa fa-venus"></span> <strong>Gender </strong></dt>
                <dd>{{jobSeeker.gender}}</dd>
                <dt style="text-align:left"><span class="glyphicon glyphicon-calendar"></span> <strong>Birth Date</strong></dt>
                <dd> {{jobSeeker.birthDate| date :  "dd/MM/yyyy"}}</dd>
                <dt style="text-align:left"><span class="glyphicon glyphicon-earphone"></span> <strong>Home Tel</strong></dt>
                <dd>{{jobSeeker.homeTel}}</dd>
                <dt style="text-align:left"><span class="glyphicon glyphicon-phone-alt"></span> <strong>Work Tel</strong></dt>
                <dd>{{jobSeeker.workTel}}</dd>
                <dt style="text-align:left"><span class="glyphicon glyphicon-phone"></span> <strong>Mobile</strong></dt>
                <dd>{{jobSeeker.mobile}}</dd>
                <dt style="text-align:left"><span class="fa fa-envelope"></span> <strong>Email</strong></dt>
                <dd>{{jobSeeker.email}}</dd>
                <dt style="text-align:left"><span class="glyphicon glyphicon-info-sign"></span> <strong>Profession</strong></dt>
                <dd>{{jobSeeker.profession}}</dd>
                <dt style="text-align:left"><span class="glyphicon glyphicon-education"></span> <strong>Main Qualification</strong></dt>
                <dd>{{jobSeeker.mainQualification}}</dd>
            </dl>          
            <h2>Introduction</h2>
            <span>{{jobSeeker.introduction}}</span>
            <hr />
        </div>
    </div>
    <v-accordion id="accordionA" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
        <v-pane id="1">
            <v-pane-header>
               <h2><span class="glyphicon glyphicon-user"></span> Personal Details</h2> 
            </v-pane-header>
            <v-pane-content>
                <hr />
                <dl class="dl-horizontal">
                    <dt style="text-align:left"><span class="glyphicon glyphicon-map-marker"></span> <strong>Address</strong></dt>
                    <dd>{{jobSeeker.address}}</dd>
                    <dt style="text-align:left"><span class="glyphicon glyphicon-map-marker"></span> <strong>Current Location</strong></dt>
                    <dd>{{jobSeeker.locationTown}} {{jobSeeker.locationCountry}}</dd>                    
                    <dt style="text-align:left"><span class="glyphicon glyphicon-info-sign"></span> <strong>Total Work Experience</strong></dt>
                    <dd>{{totalWorkExperience}}</dd>
                    <dt style="text-align:left"><span class="glyphicon glyphicon-info-sign"></span> <strong>LinkedIn Profile</strong></dt>
                    <dd>{{jobSeeker.linkedInProfile}}</dd>
                    <dt style="text-align:left"><span class="glyphicon glyphicon-globe"></span> <strong>Website</strong></dt>
                    <dd>{{jobSeeker.website}}</dd>
                    <dt style="text-align:left"><span class="glyphicon glyphicon-info-sign"></span> <strong>Professional Affiliations</strong></dt>
                    <dd>{{jobSeeker.affiliations}}</dd>
                    <dt style="text-align:left"><span class="glyphicon glyphicon-calendar"></span> <strong>Notice Period</strong></dt>
                    <dd>{{jobSeeker.noticePeriod}}</dd>
                    <dt style="text-align:left"><span class="fa fa-money"></span> <strong>Required Salary</strong></dt>
                    <dd>{{jobSeeker.requiredSalary}}</dd>
                    <dt style="text-align:left"><span class="glyphicon glyphicon-info-sign"></span> <strong>Preferred Job Titles</strong></dt>
                    <dd>{{jobSeeker.preferredJobTitles}}</dd>
                    <dt style="text-align:left"><span class="glyphicon glyphicon-info-sign"></span> <strong>Preferred Job Types</strong></dt>
                    <dd>{{jobSeeker.preferredJobTypes}}</dd>
                    <dt style="text-align:left"><span class="glyphicon glyphicon-map-marker"></span> <strong>Preferred Job Locations</strong></dt>
                    <dd>{{jobSeeker.preferredJobLocations}}</dd>                   
                </dl>
            </v-pane-content>
        </v-pane>
        <v-pane id="2">
            <v-pane-header>
               <h2><span class="glyphicon glyphicon-education"></span> Education</h2> 
            </v-pane-header>
            <v-pane-content>
                <a class="btn btn-primary" ng-click="createQualification()"><span class="fa fa-plus"></span> Add Qualification</a>
                <div ng-repeat="qualification in jobSeeker.qualifications">
                    <hr />
                    <br />
                    <dl class="dl-horizontal">
                        <dt style="text-align:left"><strong>Qualification Title</strong></dt>
                        <dd>{{qualification.title}}</dd>
                        <dt style="text-align:left"><strong>Qualification Level</strong></dt>
                        <dd>{{qualification.level}}</dd>
                        <dt style="text-align:left"><strong>Duration and Status</strong></dt>
                        <dd>{{qualification.startMonth}} {{qualification.startYear}}-{{qualification.endMonth}} {{qualification.endYear}}        {{qualification.status}}</dd>
                        <dt style="text-align:left"> <strong>Institution</strong></dt>
                        <dd>{{qualification.institution}}     {{qualification.country}}</dd>
                        <dt style="text-align:left"><strong>Majors</strong></dt>
                        <dd>{{qualification.majors}}</dd>                
                    </dl>                   
                    <hr />
                </div>
            </v-pane-content>
        </v-pane>
        <v-pane id="3">
            <v-pane-header>
               <h2><span class="glyphicon glyphicon-wrench"></span> Skills</h2> 
            </v-pane-header>
            <v-pane-content>
                <div ng-repeat="skill in jobSeeker.skills">
                    <hr />
                    <br />
                    <dl class="dl-horizontal">
                        <dt style="text-align:left"><strong>Skill Description</strong></dt>
                        <dd>{{skill.description}}</dd>
                        <dt style="text-align:left"><strong>Skill Level</strong></dt>
                        <dd>{{skill.skillLevel}}</dd>
                        <dt style="text-align:left"><strong>Experience</strong></dt>
                        <dd>{{skill.experience}}</dd>
                        <dt style="text-align:left"> <strong>Last Date Used</strong></dt>
                        <dd ng-hide="skill.isCurrent === true">{{skill.lastDateUsed}}</dd>
                        <dd ng-show="skill.isCurrent === true">{{skill.isCurrent}}Current</dd>                       
                    </dl>                   
                    <hr />
                </div>
            </v-pane-content>
        </v-pane>
        <v-pane id="4">
            <v-pane-header>
               <h2><span class="fa fa-file-text"></span> Work Experience</h2> 
            </v-pane-header>
            <v-pane-content>
                <div ng-repeat="employment in jobSeeker.employment">
                    <hr />
                    <br />
                    <div><span><strong>{{employment.jobTitle}}</strong></span></div>
                    <div><span><strong>{{employment.companyName}}</strong></span></div>
                    <div ng-show="employment.isCurrent === false"><span><strong>{{employment.startMonth}} {{employment.startYear}}-{{employment.endMonth}} {{employment.endYear}}</strong></span></div>
                    <div ng-show="employment.isCurrent === true"><span><strong>{{employment.startMonth}} {{employment.startYear}}-Current</strong></span></div>                   
                    <dl class="dl-horizontal">
                        <dt style="text-align:left" ng-show="employment.isCurrent === false"><strong>Reasons for Leaving</strong></dt>
                        <dd ng-show="employment.isCurrent === false">{{employment.reasonsForLeaving}}</dd>
                        <dt style="text-align:left"><strong>Duties and Responsibilites</strong></dt>
                        <dd>{{employment.duties}}</dd>                        
                    </dl>           
                    <hr />
                </div>
            </v-pane-content>
        </v-pane>
        <v-pane id="5">
            <v-pane-header>
               <h2><span class="fa fa-language"></span> Languages</h2> 
            </v-pane-header>
            <v-pane-content>
                <div ng-repeat="language in jobSeeker.languages">
                    <hr />
                    <br />
                    <dl class="dl-horizontal">
                        <dt style="text-align:left"><strong>Language Name</strong></dt>
                        <dd>{{language.languageName}}</dd>
                        <dt style="text-align:left"><strong>Spoken Ability</strong></dt>
                        <dd>{{language.spokenAbility}}</dd>
                        <dt style="text-align:left"><strong>Written Ability</strong></dt>
                        <dd>{{language.writtenAbility}}</dd>                       
                    </dl>                   
                    <hr />
                </div>
            </v-pane-content>
        </v-pane>
        <v-pane id="6">
            <v-pane-header>
               <h2><span class="glyphicon glyphicon-file"></span> CVs</h2> 
            </v-pane-header>
            <v-pane-content>
                <div ng-repeat="cv in cvs">
                    <hr />
                    <span>
                        <strong>{{cv.filename}}</strong> <span ng-show="!cv.metadata.isDefault">Is Default</span>
                    </span > 
                    <button class="btn btn-primary" ng-click="downloadCV(cv)"><span class="glyphicon glyphicon-trash"></span> Download</button> 
                    <button ng-click="viewCV(cv)" class="btn btn-primary"><span class="glyphicon glyphicon-new-window"></span> View</button>{{cv.contentType}}
                    <hr />
                </div>
            </v-pane-content>
        </v-pane>
        <v-pane id="7">
            <v-pane-header>
               <h2><span class="glyphicon glyphicon-paperclip"></span> Attachments</h2> 
            </v-pane-header>
            <v-pane-content>
                <div ng-repeat="attachment in attachments">
                    <hr />
                    <span>
                        <strong>{{attachment.metadata.documentType}}:</strong>{{attachment.filename}}
                    </span>
                    <button class="btn btn-primary" ng-click="viewAttachment(attachment)"><span class="glyphicon glyphicon-new-window"></span> View</button>{{attachment.contentType}}
                    <hr />
                </div>
            </v-pane-content>
        </v-pane>
    </v-accordion>    
</div>