<div class="container" data-ng-controller="AdminJobSeekersController" ng-init="init()">
    <h1>Manage Job Seekers</h1>
    <br />
    <a class="btn btn-primary" ui-sref="admin.Master"> <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
    <hr />
    <form name="jobSeekers">
        <h2>Search for Job Seekers</h2>
        <div class="row">
            <div class="form-group col-sm-2">
                <label for="searchOption" class="control-label">Search By</label>
                <select class="form-control" name="searchOption" data-ng-model="searchBy"
                        data-ng-options="searchOption for searchOption in searchByOptions"></select>
            </div>
            <div class="form-group col-sm-1" ng-hide="searchBy==='Town'||searchBy==='Country'||searchBy==='Skill'||searchBy==='Qualification'||searchBy==='Date'||searchBy==='Date Range'">
                <div style="margin-top:25px">
                    <button type="button" class="btn btn-primary" ng-click="searchJobSeekers()"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="searchBy==='Town'||searchBy==='Country'||searchBy==='Skill'||searchBy==='Qualification'">
            <div class="form-group col-sm-3" ng-class="{'has-error':jobSeekers.searchTerm.$touched && jobSeekers.searchTerm.$invalid}">
                <label for="searchTerm" class="control-label">Enter {{searchBy}}</label>
                <input type="text"
                       class="form-control"
                       name="searchTerm"
                       data-ng-model="searchTerm"
                       placeholder="Enter Search Term"
                       ng-minlength="1"
                       ng-maxlength="50"
                       ng-required="true"
                       ng-trim />
                <div class="help-block" ng-messages="jobSeekers.searchTerm.$error" ng-if="jobSeekers.searchTerm.$touched" role="alert" ng-messages-multiple>
                    <div ng-message="required">Please enter search term</div>
                    <div ng-message-exp="['minlength','maxlength']">Search term must be between 1 and 50 characters long</div>
                </div>
            </div>
            <div class="form-group col-sm-1">
                <div style="margin-top:25px">
                    <button type="button" class="btn btn-primary" ng-click="searchJobSeekers()"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="searchBy==='Date'">
            <div class="form-group col-sm-2" ng-class="{'has-error':jobSeekers.date.$touched && jobSeekers.date.$invalid}">
                <label for="date" class="control-label">Date</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                           name="date"
                           datepicker-append-to-body="true"
                           uib-datepicker-popup="dd-MM-yyyy"
                           ng-model="date"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Close"
                           is-open="datePickerOpened"
                           ng-focus="datePickerOpened=true" />
                    <span class="input-group-btn">
                        <button type="button" class="btnCustom btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="help-block" ng-messages="jobSeekers.date.$error" ng-if="jobSeekers.date.$touched" role="alert">
                    <div ng-message="required">Please select date</div>
                </div>
            </div>
            <div class="form-group col-sm-1">
                <div style="margin-top:25px">
                    <button type="button" class="btn btn-primary" ng-click="searchJobSeekers()"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="searchBy==='Date Range'">
            <div class="form-group col-sm-2" ng-class="{'has-error':jobSeekers.fromDate.$touched && jobSeekers.fromDate.$invalid}">
                <label for="fromDate" class="control-label">Date From</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                           name="fromDate"
                           datepicker-append-to-body="true"
                           uib-datepicker-popup="dd-MM-yyyy"
                           ng-model="dateFrom"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Close"
                           is-open="fromDatePickerOpened"
                           ng-focus="fromDatePickerOpened=true" />
                    <span class="input-group-btn">
                        <button type="button" class="btnCustom btn-default" ng-click="openFromDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="help-block" ng-messages="jobSeekers.fromDate.$error" ng-if="jobSeekers.fromDate.$touched" role="alert">
                    <div ng-message="required">Please enter start date</div>
                </div>
            </div>
            <div class="form-group col-sm-2" ng-class="{'has-error':jobSeekers.toDate.$touched && jobSeekers.toDate.$invalid}">
                <label for="toDate" class="control-label">Date To</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                           name="toDate"
                           datepicker-append-to-body="true"
                           uib-datepicker-popup="dd-MM-yyyy"
                           ng-model="dateTo"
                           datepicker-options="dateOptions"
                           ng-required="true"
                           close-text="Close"
                           is-open="toDatePickerOpened"
                           ng-focus="toDatePickerOpened=true" />
                    <span class="input-group-btn">
                        <button type="button" class="btnCustom btn-default" ng-click="openToDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="help-block" ng-messages="jobSeekers.toDate.$error" ng-if="jobSeekers.toDate.$touched" role="alert">
                    <div ng-message="required">Please enter start date</div>
                </div>
            </div>
            <div class="form-group col-sm-1">
                <div style="margin-top:25px">
                    <button type="button" class="btn btn-primary" ng-click="searchJobSeekers()"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span>Display</span>
                    </div>
                    <select class="form-control" name="viewOption" data-ng-model="jobSeekersPerPage"
                            data-ng-options="viewPerPageOption for viewPerPageOption in viewPerPageOptions"></select>
                    <div class="input-group-addon">
                        <span>Per Page</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <dir-pagination-controls on-page-change="getPage(newPageNumber)" max-size="5"></dir-pagination-controls>
            </div>
        </div>
    </form>
    <hr />
    <div class="media" dir-paginate = "jobSeeker in jobSeekers | itemsPerPage: jobSeekersPerPage" total-items="totalJobSeekers" current-page="pagination.current">
        <a class="pull-left" href="#">
            <img ng-src="{{jobSeeker.photo||'images/user-avatar-placeholder.png'}}" class="vignetteA"/>
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{jobSeeker.firstName}} {{jobSeeker.middleName}} {{jobSeeker.lastName}} <small>{{jobSeeker.gender}} DOB {{jobSeeker.birthDate}}</small></h4>
            <div><span class="glyphicon glyphicon-earphone"></span> {{jobSeeker.homeTel}}</div>
            <div><span class="glyphicon glyphicon-phone"></span> {{jobSeeker.mobile}}</div>
            <div><span class="fa fa-envelope"></span> {{jobSeeker.email}}</div>
            <button class="btn btn-primary" ng-click="viewJobSeeker(jobSeeker)"><span class="glyphicon glyphicon-new-window"></span> View Profile</button>
            <button ng-click="deleteJobSeeker(jobSeeker)" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> Delete Profile</button>
        </div>
    </div>
</div>