<div class="container" ng-controller="EditPriceController">
    <form role="form" name="editPriceForm" novalidate>
        <div class="col-sm-8">
            <h1>Edit Price</h1>
            <hr />
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error':editPriceForm.itemCategory.$touched && editPriceForm.itemCategory.$invalid}">
                    <label for="itemCategory" class="control-label">Set Price For</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <select name="itemCategory" class="form-control" data-ng-model="item.category"
                                data-ng-options="category for category in categories"
                                ng-required="true"></select>
                    </div>
                    <div class="help-block" ngfx-slide-in-left="setPriceForm.itemCategory.$touched" ng-messages="setPriceForm.itemCategory.$error" ng-if="createJobAd.jobLevel.$touched" role="alert">
                        <div ng-message="required">Please select category</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error':editPriceForm.itemCode.$touched && editPriceForm.itemCode.$invalid}">
                    <label for="itemCode" class="control-label">Item Code</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <input type="text"
                               name="itemCode"
                               class="form-control"
                               placeholder="Enter item code"
                               tabindex="1"
                               data-ng-model="item.itemCode"
                               ng-minlength="1"
                               ng-maxlength="50"
                               ng-required="true"
                               ng-trim />
                    </div>
                    <div class="help-block" ng-messages="editPriceForm.itemCode.$error" ng-if="editPriceForm.itemCode.$touched" role="alert" ng-messages-multiple>
                        <div ng-message="required">Please enter item code</div>
                        <div ng-message-exp="['minlength','maxlength']">Item code must be between 1 and 50 characters long</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error':editPriceForm.description.$touched && editPriceForm.description.$invalid}">
                    <label for="description" class="control-label">Description</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <input type="text"
                               name="description"
                               class="form-control "
                               placeholder="Enter description"
                               tabindex="2"
                               data-ng-model="item.description"
                               ng-minlength="1"
                               ng-maxlength="50"
                               ng-required="true"
                               ng-trim />
                    </div>
                    <div class="help-block" ng-messages="editPriceForm.description.$error" ng-if="editPriceForm.description.$touched" role="alert" ng-messages-multiple>
                        <div ng-message="required">Please enter description</div>
                        <div ng-message-exp="['minlength','maxlength']">Description must be between 1 and 50 characters long</div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="item.category === 'Job Ad'" ngfx-slide-in-left="item.category === 'Job Ad'" ngfx-slide-out-right="item.category === 'CV Search'">
                <div class="form-group col-sm-6" ng-class="{'has-error':editPriceForm.minimumAds.$touched && editPriceForm.minimumAds.$invalid}">
                    <label for="minimumAds" class="control-label">Minimum Number of Job Ads</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <input type="text"
                               name="minimumAds"
                               class="form-control "
                               placeholder="Enter minimum number of job ads"
                               tabindex="3"
                               data-ng-model="item.minimumJobAds"
                               ui-number-mask="0" />
                    </div>
                    <div class="help-block" ngfx-slide-in-left="editPriceForm.minimumAds.$touched" ng-messages="editPriceForm.minimumAds.$error" ng-if="setPriceForm.price.$touched" role="alert" ng-messages-multiple>
                        <div ng-message="required">Please enter minimum number of job ads</div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="item.category === 'Job Ad'" ngfx-slide-in-left="item.category === 'Job Ad'" ngfx-slide-out-right="item.category === 'CV Search'">
                <div class="form-group col-sm-6" ng-class="{'has-error':editPriceForm.maximumAds.$touched && editPriceForm.maximumAds.$invalid}">
                    <label for="maximumAds" class="control-label">Maximum Number of Job Ads</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <input type="text"
                               name="maximumAds"
                               class="form-control "
                               placeholder="Enter maximum number of job ads"
                               tabindex="3"
                               data-ng-model="item.maximumJobAds"
                               ui-number-mask="0" />
                    </div>
                    <div class="help-block" ngfx-slide-in-left="editPriceForm.maximumAds.$touched" ng-messages="editPriceForm.maximumAds.$error" ng-if="setPriceForm.maximumAds.$touched" role="alert" ng-messages-multiple>
                        <div ng-message="required">Please enter maximum number of job ads</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error':editPriceForm.price.$touched && editPriceForm.price.$invalid}">
                    <label for="price" class="control-label">Price</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-money"></span>
                        </div>
                        <input type="text"
                               name="price"
                               class="form-control "
                               placeholder="Enter price"
                               tabindex="3"
                               data-ng-model="unitPrice"
                               ng-minlength="1"
                               ng-maxlength="50"
                               ng-required="true"
                               ng-trim
                               pformat
                               prefix=""
                               thousands=","
                               cents="." />
                    </div>
                    <div class="help-block" ng-messages="editPriceForm.price.$error" ng-if="editPriceForm.price.$touched" role="alert" ng-messages-multiple>
                        <div ng-message="required">Please enter price</div>
                        <div ng-message-exp="['minlength','maxlength']">Price must be between 1 and 50 characters long</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <button class="btn btn-primary" tabindex="4" ng-click="update()" ng-enable='editPriceForm.$valid'>Update</button>
                    <a class="btn btn-primary" tabindex="6" ui-sref="admin.prices">Cancel</a>
                </div>
            </div>
        </div>

    </form>
</div>
