<div class="container" ng-controller="PasswordChangeController">  
    <form role="form" name="changePasswordForm" novalidate>
        <div class="col-sm-8"> 
            <h1>Change Password</h1>        
            <hr />
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error has-feedback':changePasswordForm.email.$touched && changePasswordForm.email.$invalid, 'has-success has-feedback': changePasswordForm.email.$dirty && changePasswordForm.email.$valid}">
                    <label for="email" class="control-label">Email</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <input type="email"
                               name="email"
                               class="form-control "
                               placeholder="Enter email"
                               tabindex="1"
                               data-ng-model="changePassword.email"
                               ng-minlength="1"
                               ng-maxlength="50"
                               ng-required="true"
                               ng-trim />
                        <span ng-if="changePasswordForm.email.$dirty && changePasswordForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-if="changePasswordForm.email.$touched && changePasswordForm.email.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                        <div class="help-block" ngfx-slide-in-left="changePasswordForm.email.$touched" ng-messages="changePasswordForm.email.$error" ng-if="changePasswordForm.email.$touched" role="alert" ng-messages-multiple>
                            <div ng-message="email">Please enter valid email</div>
                            <div ng-message="required">Please enter email</div>
                            <div ng-message-exp="['minlength','maxlength']">Email must be between 1 and 50 characters long</div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6" ng-class="{'has-error has-feedback':changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$invalid, 'has-success has-feedback': changePasswordForm.oldPassword.$dirty && changePasswordForm.oldPassword.$valid}">
                    <label for="oldPassword" class="control-label">Old Password</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-lock"></span>
                        </div>
                        <input type="password"
                               name="oldPassword"
                               class="form-control"
                               placeholder="Enter old password"
                               tabindex="2"
                               data-ng-model="changePassword.password"
                               ng-minlength="6"
                               ng-maxlength="10"
                               ng-required="true"
                               ng-pattern="/^([a-zA-Z0-9!?~@#$%^&*_]).{6,10}$/"
                               ng-trim />
                        <span ng-if="changePasswordForm.oldPassword.$dirty && changePasswordForm.oldPassword.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-if="changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                        <div class="help-block" ngfx-slide-in-left="changePasswordForm.oldPassword.$touched" ng-messages="changePasswordForm.oldPassword.$error" ng-if="changePasswordForm.oldPassword.$touched" role="alert" ng-messages-multiple>
                            <div ng-message="required">Please enter password</div>
                            <div ng-message="pattern">Please enter valid password</div>
                            <div ng-message-exp="['minlength','maxlength']">Please enter valid password</div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error':changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid, 'has-success has-feedback': changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$valid}">
                    <label for="newPassword" class="control-label">New Password</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-lock"></span>
                        </div>
                        <input type="password"
                               name="newPassword"
                               class="form-control "
                               placeholder="Enter new password"
                               tabindex="3"
                               data-ng-model="changePassword.newPassword"                     
                               ng-required="true"
                               ng-pattern="/^([a-zA-Z0-9!?~@#$%^&*_]).{6,10}$/"
                               match="changePassword.oldPassword" 
                               not-match="true"
                               ng-trim />
                        <span ng-if="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-if="changePasswordForm.newPassword.$touched && changePasswordForm.newPassword.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                    <div>Password can contain upper case letters (A-Z), lower case letters (a-z), digits (0-9), special characters (!?~@#$%^&*_), and must be between 6 to  10 characters in length</div>
                        <div class="help-block" ngfx-slide-in-left="changePasswordForm.newPassword.$touched" ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.newPassword.$touched" role="alert" ng-messages-multiple>
                            <div ng-message="required">Please enter password</div>
                            <div ng-message="match">New password must be different from old password</div>
                            <div ng-message="pattern">Please enter valid password</div>                    
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error has-feedback':changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$invalid, 'has-success has-feedback': changePasswordForm.confirmNewPassword.$dirty && changePasswordForm.confirmNewPassword.$valid}">
                    <label for="confirmNewPassword" class="control-label">Confirm New Password</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-lock"></span>
                        </div>
                        <input type="password"
                               name="confirmNewPassword"
                               class="form-control "
                               placeholder="Confirm  new password"
                               tabindex="4"
                               data-ng-model="confirmNewPassword"
                               ng-minlength="6"
                               ng-maxlength="10"
                               ng-required="true"
                               match ="changePassword.newPassword"
                               ng-trim />
                        <span ng-if="changePasswordForm.confirmNewPassword.$dirty && changePasswordForm.confirmNewPassword.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-if="changePasswordForm.confirmNewPassword.$touched && changePasswordForm.confirmNewPassword.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                        <div class="help-block" ngfx-slide-in-left="changePasswordForm.confirmNewPassword.$touched" ng-messages="changePasswordForm.confirmNewPassword.$error" ng-if="changePasswordForm.confirmNewPassword.$touched" role="alert" ng-messages-multiple>
                            <div ng-message="required">Please confirm password</div>
                            <div ng-message="match">Confirm password must be identical to password</div>
                            <div ng-message-exp="['minlength','maxlength']">Confirm password must be between 6 and 10 characters long</div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <button class="btn btn-primary" tabindex="8" ng-disabled="changePasswordForm.$invalid" ng-click="change()">Change Password</button>
                </div>
            </div>
        </div>
    </form>
</div>