<div class="container" ng-controller="PasswordResetWithQuestionController">  
    <form role="form" name="resetPasswordForm" novalidate>
        <div class="col-sm-8"> 
            <h1>Reset Password</h1>        
            <hr />
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error has-feedback':resetPasswordForm.email.$touched && resetPasswordForm.email.$invalid, 'has-success has-feedback': resetPasswordForm.email.$dirty && resetPasswordForm.email.$valid}">
                    <label for="email" class="control-label">Email</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <input type="email"
                               name="email"
                               class="form-control "
                               placeholder="Enter email"
                               tabindex="1"
                               data-ng-model="resetPassword.username"
                               ng-minlength="1"
                               ng-maxlength="50"
                               ng-required="true"
                               ng-trim />
                        <span ng-if="resetPasswordForm.email.$dirty && resetPasswordForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-if="resetPasswordForm.email.$touched && resetPasswordForm.email.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                        <div class="help-block" ngfx-slide-in-left="resetPasswordForm.email.$touched" ng-messages="resetPasswordForm.email.$error" ng-if="resetPasswordForm.email.$touched" role="alert" ng-messages-multiple>
                            <div ng-message="email">Please enter valid email</div>
                            <div ng-message="required">Please enter email</div>
                            <div ng-message-exp="['minlength','maxlength']">Email must be between 1 and 50 characters long</div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error has-feedback':resetPasswordForm.newPassword.$touched && resetPasswordForm.newPassword.$invalid, 'has-success has-feedback': resetPasswordForm.newPassword.$dirty && resetPasswordForm.newPassword.$valid}">
                    <label for="newPassword" class="control-label">New Password</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-lock"></span>
                        </div>
                        <input type="password"
                               name="newPassword"
                               class="form-control "
                               placeholder="Enter new password"
                               tabindex="3"
                               data-ng-model="resetPassword.newPassword"                     
                               ng-required="true"
                               ng-pattern="/^([a-zA-Z0-9!?~@#$%^&*_]).{6,10}$/"
                               match="changePassword.oldPassword" 
                               not-match="true"
                               ng-trim />
                        <span ng-if="resetPasswordForm.newPassword.$dirty && resetPasswordForm.newPassword.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-if="resetPasswordForm.newPassword.$touched && resetPasswordForm.newPassword.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                    <div>Password can contain upper case letters (A-Z), lower case letters (a-z), digits (0-9), special characters (!?~@#$%^&*_), and must be between 6 to  10 characters in length</div>
                        <div class="help-block" ngfx-slide-in-left="resetPasswordForm.newPassword.$touched" ng-messages="resetPasswordForm.newPassword.$error" ng-if="resetPasswordForm.newPassword.$touched" role="alert" ng-messages-multiple>
                            <div ng-message="required">Please enter password</div>
                            <div ng-message="match">New password must be different from old password</div>
                            <div ng-message="pattern">Please enter valid password</div>                    
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error has-feedback':resetPasswordForm.confirmNewPassword.$touched && resetPasswordForm.confirmNewPassword.$invalid, 'has-success has-feedback': resetPasswordForm.confirmNewPassword.$dirty && resetPasswordForm.confirmNewPassword.$valid}">
                    <label for="confirmNewPassword" class="control-label">Confirm New Password</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-lock"></span>
                        </div>
                        <input type="password"
                               name="confirmNewPassword"
                               class="form-control "
                               placeholder="Confirm  new password"
                               tabindex="4"
                               data-ng-model="confirmNewPassword"
                               ng-minlength="6"
                               ng-maxlength="10"
                               ng-required="true"
                               match ="resetPassword.newPassword"
                               ng-trim />
                        <span ng-if="resetPasswordForm.confirmNewPassword.$dirty && resetPasswordForm.confirmNewPassword.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-if="resetPasswordForm.confirmNewPassword.$touched && resetPasswordForm.confirmNewPassword.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                        <div class="help-block" ngfx-slide-in-left="resetPasswordForm.confirmNewPassword.$touched" ng-messages="resetPasswordForm.confirmNewPassword.$error" ng-if="resetPasswordForm.confirmNewPassword.$touched" role="alert" ng-messages-multiple>
                            <div ng-message="required">Please confirm password</div>
                            <div ng-message="match">Confirm password must be identical to password</div>
                            <div ng-message-exp="['minlength','maxlength']">Confirm password must be between 6 and 10 characters long</div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error':resetPasswordForm.securityQuestions.$touched && resetPasswordForm.securityQuestions.$invalid}">
                    <label for="securityQuestions" class="control-label">Security Question</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <select name="securityQuestions"
                                class="form-control"
                                data-ng-model="resetPassword.securityQuestion"
                                data-ng-options="securityQuestionOption for securityQuestionOption in securityQuestionOptions"
                                tabindex="7"
                                ng-required="true"><option value="">Choose security question</option></select>
                    </div>
                    <div class="help-block" ngfx-slide-in-left="resetPasswordForm.securityQuestions.$touched" ng-messages="resetPasswordForm.securityQuestions.$error" ng-if="signupJobSeekerForm.securityQuestions.$touched" role="alert">
                        <div ng-message="required">Please select security question</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6" ng-class="{'has-error has-feedback':resetPasswordForm.securityQuestionAnswer.$touched && resetPasswordForm.securityQuestionAnswer.$invalid, 'has-success has-feedback': resetPasswordForm.securityQuestionAnswer.$dirty && resetPasswordForm.securityQuestionAnswer.$valid}">
                    <label for="securityQuestionAnswer" class="control-label">Security Question Answer</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </div>
                        <input type="text"
                               name="securityQuestionAnswer"
                               class="form-control "
                               placeholder="Enter security question answer"
                               tabindex="6"
                               data-ng-model="resetPassword.securityQuestionAnswer"
                               ng-minlength="1"
                               ng-maxlength="50"
                               ng-required="true"
                               ng-trim />
                        <span ng-if="resetPasswordForm.securityQuestionAnswer.$dirty && resetPasswordForm.securityQuestionAnswer.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-if="resetPasswordForm.securityQuestionAnswer.$touched && resetPasswordForm.securityQuestionAnswer.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                    <div class="help-block" ngfx-slide-in-left="resetPasswordForm.securityQuestionAnswer.$touched" ng-messages="resetPasswordForm.securityQuestionAnswer.$error" ng-if="resetPasswordForm.securityQuestionAnswer.$touched" role="alert" ng-messages-multiple>
                        <div ng-message="required">Please security question answer</div>
                        <div ng-message-exp="['minlength','maxlength']">Security question answer must be between 1 and 150 characters long</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <button class="btn btn-primary" tabindex="8" ng-disabled="resetPasswordForm.$invalid" ng-click="reset()">Reset Password</button>
                </div>
            </div>
        </div>
    </form>
</div>