<div class="container"  ng-controller="PasswordResetController">       
    <form  role="form" name="passwordResetForm" novalidate>
        <div class="col-sm-8">
            <h1>Reset Password</h1>
            <hr />
            <div class="row">
                <div class="form-group  col-sm-6" ng-class="{'has-error has-feedback':passwordResetForm.email.$touched && passwordResetForm.email.$invalid, 'has-success has-feedback': passwordResetForm.email.$dirty && passwordResetForm.email.$valid}">
                    <label for="email" class="control-label">Email</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <input type="email"
                               name="email"
                               class="form-control"
                               placeholder="Enter email"
                               tabindex="1"
                               data-ng-model="passwordReset.email"
                               ng-minlength="1"
                               ng-maxlength="50"
                               ng-required="true"
                               ng-trim />
                        <span ng-if="passwordResetForm.email.$dirty && passwordResetForm.email.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span ng-if="passwordResetForm.email.$touched && passwordResetForm.email.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                        <div class="help-block" ngfx-slide-in-left="passwordResetForm.email.$touched" ng-messages="passwordResetForm.email.$error" ng-if="passwordResetForm.email.$touched" role="alert" ng-messages-multiple>
                            <div ng-message="email">Please enter valid email</div>
                            <div ng-message="required">Please enter email</div>
                            <div ng-message-exp="['minlength','maxlength']">Email must be between 1 and 50 characters long</div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <button class="btn btn-primary" ng-disabled="passwordResetForm.$invalid" tabindex="6" ng-click="resetPassword()">Reset Password</button>
                    <a class="btn btn-primary" tabindex="8" ui-sref="auth.signin">Sign In</a>
                </div>
            </div>
        </div>
    </form>
</div>