<div>
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 text-center">
                <div id="loader-7">
                    <span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span>
                    <span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span><span class="spanAnim"></span>
                    <span class="spanAnim"></span><span class="spanAnim"></span>
                </div>
            </div>
        </div>
              
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 text-center">
               <span>{{message}}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
